/PortfolioEffect_Matlab_User_Manual.aux
/PortfolioEffect_Matlab_User_Manual.dvi
/PortfolioEffect_Matlab_User_Manual.log
/PortfolioEffect_Matlab_User_Manual.out.ps
/PortfolioEffect_Matlab_User_Manual.toc
